/* Estilos básicos de la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Myriad Pro, sans-serif;
  background-image: url(Imagenes/help.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #48e;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}

header h1 {
  font-size: 4rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  width: 90%;
  max-width: 1200px;
  margin-top: 20px;
}

section {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.faq h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.faq p {
  margin-bottom: 15px;
}

footer {
  text-align: center;
  font-size: 1rem;
  color: #666;
  margin-top: 30px;
  padding: 10px;
  width: 100%;
  background-color: #f8f8f8;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  header h1 {
      font-size: 2rem;
  }

  nav ul {
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }

  nav ul li {
      margin: 5px 0;
  }

  section {
      max-width: 100%;
      padding: 15px;
  }
}
