@font-face {
    font-family: "regular";
    src: url(../fonts/MYRIADPRO-REGULAR.woff);
}

@font-face {
    font-family: "light";
    src: url(../fonts/MyriadPro-Light.woff);
}

.main-container {
    display: grid;
    width: 100%;
    height: 100%;
    left: 2%;
    position: fixed;
}

.main-container>div {
    background-color: white;
    margin: 0;
    padding: 2vw;
    font-size: 30px;
}

.image1 {
    margin: -0.9vw 0vw 0vw 4vw;
    position: fixed;
    width: 1.5vw;
}

.image2 {
    margin: -0.8vw 0vw 0vw 18vw;
    position: fixed;
    width: 1.2vw;
}

.image3 {
    margin: -0.9vw 0vw 0vw 31vw;
    position: fixed;
    width: 1.1vw;
}

.image4 {
    margin: -1vw 0vw 0vw 46vw;
    position: fixed;
    width: 2vw;
}

.image5 {
    margin: -0.9vw 0vw 0vw 57vw;
    position: fixed;
    width: 1.4vw;
}

.image6 {
    margin: -0.9vw 0vw 0vw 70vw;
    position: fixed;
    width: 1.5vw;
}

.image7 {
    margin: -0.5vw 0vw 0vw 84.7vw;
    position: fixed;
    width: 1.2vw;
}

.image8 {
    margin: -0.5vw 0vw 0vw 86.5vw;
    position: fixed;
    width: 1.1vw;

}

.image9 {
    margin: -1.6vw 0vw 0vw 0vw;
    position: fixed;
    width: 2.5vw;
}

.add {
    font-size: 1.2vw;
    margin: -0.8vw 0vw 0vw 5.8vw;
    position: fixed;
}

.refresh {
    font-size: 1.2vw;
    margin: -0.8vw 0vw 0vw 19.8vw;
    position: fixed;
}

.delete {
    font-size: 1.2vw;
    margin: -0.8vw 0vw 0vw 33vw;
    position: fixed;
}

.report {
    font-size: 1.2vw;
    margin: -0.7vw 0vw 0vw 59.2vw;
    position: fixed;
}

.help {
    font-size: 1.2vw;
    margin: -0.7vw 0vw 0vw 72vw;
    position: fixed;
}

.linea {
    background-color: black;
    width: 300vw;
    height: 0.09vw;
    margin: 1.5vw 0vw 0vw -6vw;
    position: fixed;
}

a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}

.menu-main {
    width: 4vw;
    height: 0.5vh;
    position: fixed;
    left: 92%;
}

.menu-second {
    display: none;
    margin-top: 3vh;
    background-color: #F97A2C;
    border-radius: 5px;
}

.menu-second ul a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    margin-left: -1vw;
    width: auto;
}

.menu-main:hover .menu-second {
    display: block;
    color: white;
    width: 4vw;
    font-size: 1.2rem;
    margin-left: -1vw;
}

.menu-main:hover ul {
    margin-left: -1.3vw;
}

.container_contact {
    top: 10vh;
    position: fixed;
    border: 0.5vw solid #F97A2C;
    border-radius: 50px;
    height: 70vh;
    width: 40vw;
    left: 28vw;
}

.soport {
    margin-top: -2vh;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.welcome {
    margin-top: -2vh;
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;
}

.titulito {
    font-size: 2rem;
    text-align: center;
    margin-top: 2vh;
    font-weight: bold;
}

.titulito2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.textito {
    margin-top: -2vh;
    font-size: 1rem;
    font-weight: lighter;
}

.contact_us {
    margin-top: 2vh;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
}

@media screen and (max-width: 430px) {
    .main-container {
        display: grid;
        width: 100%;
        height: 100%;
        left: 2%;
        position: fixed;
    }

    .main-container > div {
        background-color:white;
        margin: 0px;
        padding: 8px;
        font-size: 18px;
    }
    a {
        color: black;
        font-size: 1rem;
        text-decoration: none;
    }

    .image1 {
        margin: -2px 0px 0px 40px;
        position: fixed;
        width: 20px;
    }

    .image2 {
        margin: -2px 0px 0px 90px;
        position: fixed;
        width: 20px;
    }

    .image3 {
        margin: -4px 0px 0px 140px;
        position: fixed;
        width: 18px;
    }

    .image4 {
        margin: -4px 0px 0px 190px;
        position: fixed;
        width: 28px;
    }

    .image5 {
        margin: -4px 0px 0px 240px;
        position: fixed;
        width: 24px;
    }

    .image6 {
        margin: -4px 0px 0px 290px;
        position: fixed;
        width: 26px;
    }

    .image7 {
        margin: 3px 0px 0px 330px;
        position: fixed;
        width: 14px;
    }

    .image8 {
        margin: 4px 0px 0px 348px;
        position: fixed;
        width: 14px;
    }

    .image9 {
        margin: -8px 0px 0px 5px;
        position: fixed;
        width: 35px;
    }

    .add, .refresh, .delete, .report, .help {
        display: none;
    }

    .linea {
        background-color: black;
        width: 130%;
        height: 1px;
        margin: 30px 0px 0px -20px;
        position: fixed;
    }


    .menu-main {
        width: 30px;
        height: 4px;
        position: fixed;
        left: 88%;
    }

    .menu-second {
        display: none;
        margin-top: 20px;
        background-color: #F97A2C;
        border-radius: 5px;
    }

    .menu-second ul a {
        color: white;
        text-decoration: none;
        display: block;
        font-size: 0.9rem;
        margin-left: -5px;
        width: auto;
    }

    .menu-main:hover .menu-second {
        display: block;
        color: white;
        width: 60px;
        font-size: 1rem;
        margin-left: -5px;
    }

    .menu-main:hover ul {
        margin-left: -6px;
    }

    .container_contact {
        top: 6vh;
        position: fixed;
        border: 3px solid #F97A2C;
        border-radius: 25px;
        height: 90%;
        width: 85%;
        left: 7.5%;
    }

    .soport {
        margin-top: -1vh;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }

    .welcome {
        margin-top: -2vh;
        text-align: center;
        font-size: 0.9rem;
        font-weight: lighter;
    }

    .titulito {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 2vh;
        font-weight: bold;
    }

    .titulito2 {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .textito {
        margin-top: -2vh;
        font-size: 0.9rem;
        font-weight: lighter;
    }

    .contact_us {
        margin-top: 2vh;
        font-size: 0.9rem;
        font-weight: lighter;
        text-align: center;
    }
}