body{
    margin: 0;
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    background-color: black;
    position:fixed;
}
.transparente{
    width: 100%;
    height: 100%;
    position:fixed;
}
.logo{
    border-color: transparent;
    opacity: 0%;
    bottom: 45%;
    left: 45%;
    width: 197px;
    height: 176px;
    animation: desvanecer 2s linear;
    position:fixed;
}
@keyframes desvanecer{
    0%{opacity: 100%;}
    25%{opacity: 100%;}
    40%{opacity: 0%;}
    80%{opacity: 0%;}
    100%{opacity: 100%;}
}
.log-in{
    display: flex;
    justify-content: center;
    bottom: 15%;
    left: 27%;
    width: 45%;
    height: 65%;
    background-color: white;
    border-radius: 8%;
    opacity: 0%;
    position:fixed;
    animation: aparecer 1s linear forwards;
    animation-delay: 2.2s;
}
.login{
    top:22%;
    left: 44%;
    width: 12%;
    height: 12%;
    position:fixed;
}
@font-face {
    font-family: "regular";
    src: url(../fonts/MYRIADPRO-REGULAR.woff);
}
@font-face {
    font-family: "light";
    src: url(../fonts/MyriadPro-Light.woff);
}
.panel-kario{
    font-family: "regular";
    text-align: center;
    font-size: 2vw;
    bottom:60%;
    left: 35%;
    width: 30%;
    height: 2%;
    position:fixed;
}
.ingresar{
    font-family: "light";
    font-size: 1vw;
    width: auto;
    bottom: 53%;
    height: 20px;
    position:fixed;
    text-align: center;
}
form{
    font-family: "light";
    font-size: 1.3vw;
    bottom: 50%;
    left: 33%;
    height: 25px;
    position:fixed;
}
input{
    width: 33%;
    height: 4vh;
    border-radius: 2vw;
    position:fixed;
    margin-bottom: 20px;
}
button{
    top: 68%;
    left: 43%;
    width: 15%;
    height: 6%;
    font-size: 1.3vw;
    color: white;
    background-color: #F97A2C;
    position:fixed;
    border-radius: 40px;
}
button:hover{
    cursor: pointer;
}
.problemas{
    top: 75%;
    font-family: "light";
    font-size: 0.78vw;
    position:fixed;
    text-align: center;
}
@keyframes aparecer{
    0%{opacity: 100%;}
    100%{opacity: 100%;}
}
@keyframes irse{
    0%{opacity: 100%;}
    100%{opacity: 0%;}
}
@media (max-width: 430px),(max-height: 932px){
    body {
        margin: 0;
        width: 430px;
        height: 932px;
    }
    
    .container {
        width: 100%;
        height: 100%;
        background-color: black;
        position: fixed;
    }
    
    .transparente {
        width: 100%;
        height: 100%;
        position: fixed;
    }
    
    .logo {
        border-color: transparent;
        opacity: 0%;
        bottom: 45%;
        left: 50%;
        transform: translateX(-50%);
        width: 40vw;
        height: auto;
        animation: desvanecer 2s linear;
        position: fixed;
    }
    
    @keyframes desvanecer {
        0% { opacity: 100%; }
        25% { opacity: 100%; }
        40% { opacity: 0%; }
        80% { opacity: 0%; }
        100% { opacity: 100%; }
    }
    
    .log-in {
        display: flex;
        justify-content: center;
        bottom: 20%;
        width: 80%;
        left: 11%;
        max-width: 400px;
        height: 60%;
        background-color: white;
        border-radius: 4%;
        opacity: 0%;
        position: fixed;
        animation: aparecer 1s linear forwards;
        animation-delay: 2.2s;
    }
    
    .login {
        top: 20%;

        width: 12%;
        height: 12%;
        position: fixed;
    }
    
    .panel-kario {
        font-family: "regular";
        text-align: center;
        font-size: 5vw;
        bottom: 60%;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: auto;
        position: fixed;
    }
    
    .ingresar {
        font-family: "light";
        font-size: 2.5vw;
        width: auto;
        bottom: 55%;
        height: 20px;
        position: fixed;
        text-align: center;
    }
    
    form {
        font-family: "light";
        font-size: 3vw;
        bottom: 47%;
        left: 20%;
        height: 25px;
        position: fixed;
        margin-bottom: 20px;
    }
    
    input {
        width: 60%;
        height: 4%;
        max-width: 250px;
        max-height: 50px;
        border-radius: 20px;
        position: fixed;
        margin-bottom: 40px;
    }
    
    button {
        top: 66%;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
        height: 6%;
        font-size: 3vw;
        color: white;
        background-color: #F97A2C;
        position: fixed;
        border-radius: 40px;
    }
    
    button:hover {
        cursor: pointer;
    }
    
    .problemas {
        top: 73%;
        font-family: "light";
        font-size: 2vw;
        position: fixed;
        text-align: center;
    }
}